In [9]:
import pandas

In [10]:
input_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/1)data_input/'
output_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/3)output/'

In [11]:
path = input_file_directory+"/cytoscape/mutants/"
path2 = output_file_directory+"/ATG7/MEF_HuH7/PPI/Cytoscape_for_tree/"

# Huh7 Mutants

## all interactions

In [12]:
df_inter_huh7_ori = pandas.read_csv(path+ 'huh7_all_interactions_mutants_cyto.csv', sep = ";")
df_inter_huh7_ori.head()

,Bait,BaitBoolean,Prey,GeneName,PreyGene,Spec,SpecSum,AvgSpec,NumReplicates,ctrlCounts,AvgP,MaxP,TopoAvgP,TopoMaxP,SaintScore,logOddsScore,FoldChange
0,ATG7_2d522a,True,O43795,MYO1B,MYO1B_HUMAN,26|16|15,57,19,3,4|2|2,1,1,1,1,1,"6,01","7,12"
1,ATG7_2d522a,True,O60762,DPM1,DPM1_HUMAN,6|4|7,17,"5,67",3,1|0|0,"0,99",1,"0,99",1,"0,99","3,17",17
2,ATG7_1d522a,True,O95166,GABARAP,GBRAP_HUMAN,8|10|8,26,"8,67",3,0|0|0,1,1,1,1,1,"10,72","86,67"
3,ATG7_1d522e,True,O95166,GABARAP,GBRAP_HUMAN,12|9|11,32,"10,67",3,0|0|0,1,1,1,1,1,"12,29","106,67"
4,ATG7_1d522a,True,O95352,ATG7,ATG7_HUMAN,138|151|124,413,"137,67",3,42|35|49,1,1,1,1,1,"20,9","3,28"

In [13]:
df_inter_huh7_ori['Bait'].replace('ATG7_1d522a', 'ATG7(1)-D522*', inplace=True)
df_inter_huh7_ori['Bait'].replace('ATG7_1d522e', 'ATG7(1)-D522*', inplace=True)

df_inter_huh7_ori['Bait'].replace('ATG7_2d522a', 'ATG7(2)-D522*', inplace=True)
df_inter_huh7_ori['Bait'].replace('ATG7_2d522e', 'ATG7(2)-D522*', inplace=True)

In [14]:
df_inter_huh7_ori['IsSTRING'] = "False"

df_inter_huh7_ori['Prot1'] = df_inter_huh7_ori['Bait']
df_inter_huh7_ori['Prot2'] = df_inter_huh7_ori['GeneName']

df_inter_huh7 = df_inter_huh7_ori[['Prot1' , 'Prot2', 'FoldChange', 'IsSTRING']]
df_inter_huh7.head()

           Prot1    Prot2 FoldChange IsSTRING
0  ATG7(2)-D522*    MYO1B       7,12    False
1  ATG7(2)-D522*     DPM1         17    False
2  ATG7(1)-D522*  GABARAP      86,67    False
3  ATG7(1)-D522*  GABARAP     106,67    False
4  ATG7(1)-D522*     ATG7       3,28    False

## STRING data

In [18]:
df_off = pandas.read_csv(path+ 'huh7_string_mutant_all_int_human.tsv', sep = "\t")
df_off.rename(columns={df_off.columns[0]: 'Prot1', df_off.columns[1]: 'Prot2'},inplace=True)
df_off = df_off[['Prot1', 'Prot2']]
df_off['IsSTRING'] = "True"
df_off.head()

   Prot1      Prot2 IsSTRING
0  AHNAK       PLEC     True
1  ATG12  GABARAPL2     True
2  ATG12  GABARAPL1     True
3  ATG12       ATG3     True
4  ATG12    GABARAP     True

In [19]:
df_final = pandas.concat([df_inter_huh7, df_off], axis=0)
df_final

            Prot1    Prot2 FoldChange IsSTRING
0   ATG7(2)-D522*    MYO1B       7,12    False
1   ATG7(2)-D522*     DPM1         17    False
2   ATG7(1)-D522*  GABARAP      86,67    False
3   ATG7(1)-D522*  GABARAP     106,67    False
4   ATG7(1)-D522*     ATG7       3,28    False
..            ...      ...        ...      ...
33      GABARAPL1    PGAM5        NaN     True
34      GABARAPL2    PGAM5        NaN     True
35           PLEC   SPTAN1        NaN     True
36       SLC25A22   SPTAN1        NaN     True
37         SPTAN1   SPTBN1        NaN     True

[86 rows x 4 columns]

In [20]:
df_final.to_csv(path2+'df_mutant_cytoscape_huh7.csv',sep = ",")