In [14]:
import pandas

In [15]:
input_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/1)data_input/'
output_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/3)output/'

In [16]:
path = input_file_directory+"/cytoscape/mutants/"
path2 = output_file_directory+"/ATG7/MEF_HuH7/PPI/Cytoscape_for_tree/"

# MEF Mutants

## all interactions

In [26]:
df_inter_mefs_ori = pandas.read_csv(path+ 'mefs_all_interactions_mutants_cyto.csv', sep = ";")
df_inter_mefs_ori.head()

,Bait,BaitBoolean,Prey,Gene,PreyGene,Spec,SpecSum,AvgSpec,NumReplicates,ctrlCounts,AvgP,MaxP,TopoAvgP,TopoMaxP,SaintScore,logOddsScore,FoldChange,BFDR
0,ATG7_2d522a,True,Q80TM9,Nisch,NISCH_MOUSE,12|12|10,34,"11,33",3,1|2|2,"0,98",1,"0,98",1,"0,98","3,23","6,8",0
1,ATG7_2d522e,True,Q8BH59,Slc25a12,CMC1_MOUSE,16|16|20,52,"17,33",3,3|5|4,"0,98",1,"0,98",1,"0,98","3,47","4,33",0
2,ATG7_1d522a,True,Q8R3R8,Gabarapl1,GBRL1_MOUSE,6|7|9,22,"7,33",3,1|0|0,1,1,1,1,1,"8,66",22,0
3,ATG7_1d522e,True,Q8R3R8,Gabarapl1,GBRL1_MOUSE,8|9|7,24,8,3,1|0|0,1,1,1,1,1,"11,71",24,0
4,ATG7_1d522e,True,Q9CQY1,Atg12,ATG12_MOUSE,4|4|4,12,4,3,0|0|0,"0,98","0,98","0,98","0,98","0,98","4,12",40,0

In [27]:
df_inter_mefs_ori['Bait'].replace('ATG7_1d522a', 'ATG7(1)-D522*', inplace=True)
df_inter_mefs_ori['Bait'].replace('ATG7_1d522e', 'ATG7(1)-D522*', inplace=True)

df_inter_mefs_ori['Bait'].replace('ATG7_2d522a', 'ATG7(2)-D522*', inplace=True)
df_inter_mefs_ori['Bait'].replace('ATG7_2d522e', 'ATG7(2)-D522*', inplace=True)

In [28]:
df_inter_mefs_ori['IsSTRING'] = "False"

df_inter_mefs_ori['Prot1'] = df_inter_mefs_ori['Bait']
df_inter_mefs_ori['Prot2'] = df_inter_mefs_ori['Gene']

df_inter_mefs = df_inter_mefs_ori[['Prot1' , 'Prot2', 'FoldChange', 'IsSTRING']]
df_inter_mefs.head()

           Prot1      Prot2 FoldChange IsSTRING
0  ATG7(2)-D522*      Nisch        6,8    False
1  ATG7(2)-D522*   Slc25a12       4,33    False
2  ATG7(1)-D522*  Gabarapl1         22    False
3  ATG7(1)-D522*  Gabarapl1         24    False
4  ATG7(1)-D522*      Atg12         40    False

## STRING data

In [29]:
df_off = pandas.read_csv(path+ 'mefs_string_mutant_all_int_mouse.tsv', sep = "\t")
df_off.rename(columns={df_off.columns[0]: 'Prot1', df_off.columns[1]: 'Prot2'},inplace=True)
df_off = df_off[['Prot1', 'Prot2']]
df_off['IsSTRING'] = "True"
df_off.head()

    Prot1      Prot2 IsSTRING
0   Atg12  Gabarapl1     True
1    Ctgf        Lox     True
2  Efemp2        Lox     True
3     Lox     Pdgfra     True

In [30]:
df_final = pandas.concat([df_inter_mefs, df_off], axis=0)
df_final

            Prot1      Prot2 FoldChange IsSTRING
0   ATG7(2)-D522*      Nisch        6,8    False
1   ATG7(2)-D522*   Slc25a12       4,33    False
2   ATG7(1)-D522*  Gabarapl1         22    False
3   ATG7(1)-D522*  Gabarapl1         24    False
4   ATG7(1)-D522*      Atg12         40    False
5   ATG7(1)-D522*    Gabarap         26    False
6   ATG7(2)-D522*    Dnajb12         21    False
7   ATG7(2)-D522*    Dnajb12         19    False
8   ATG7(2)-D522*       Pfkp      46,67    False
9   ATG7(2)-D522*       Araf      46,67    False
10  ATG7(2)-D522*      Pgam5      36,67    False
11  ATG7(2)-D522*      Rchy1         40    False
12  ATG7(2)-D522*       Rlim         40    False
13  ATG7(2)-D522*       Pfkp      36,67    False
14  ATG7(2)-D522*        Lox       7,67    False
15  ATG7(2)-D522*       Ctgf      33,33    False
16  ATG7(2)-D522*      Ubac2      33,33    False
17  ATG7(2)-D522*      Sqrdl        9,5    False
18  ATG7(2)-D522*     Yme1l1         13    False
19  ATG7(2)-D522*      Hspb1         14    False
20  ATG7(2)-D522*       Sdf4      36,67    False
21  ATG7(2)-D522*      Acaa2        6,5    False
22  ATG7(1)-D522*      Atg12      33,33    False
23  ATG7(1)-D522*    Gabarap         21    False
24  ATG7(2)-D522*     Maged1      33,33    False
25  ATG7(2)-D522*     Efemp2      33,33    False
26  ATG7(2)-D522*     Pdgfra         11    False
27  ATG7(1)-D522*    Poldip3        4,2    False
0           Atg12  Gabarapl1        NaN     True
1            Ctgf        Lox        NaN     True
2          Efemp2        Lox        NaN     True
3             Lox     Pdgfra        NaN     True

In [31]:
df_final.to_csv(path2+'df_mutant_cytoscape_mefs.csv',sep = ",")