In [14]:
import pandas

In [15]:
input_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/1)data_input/'
output_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/3)output/'

In [16]:
path = input_file_directory+"/cytoscape/"
path2 = output_file_directory+"/ATG7/MEF_HuH7/PPI/Cytoscape_for_tree/"

# MEFs

## all interactions

In [17]:
df_inter_mefs_ori = pandas.read_csv(path+ 'mefs_all_interaction_both_iso_cyto.csv', sep = ",")
df_inter_mefs_ori.head()

,AvgP,AvgSpec,BaitBoolean,BFDR,ctrlCounts,FoldChange,Gene,logOddsScore,MaxP,NumReplicates,Prey,PreyGene,SaintScore,Spec,SpecSum,TopoAvgP,TopoMaxP,﻿Bait
0,0.98,4.67,True,0.0,0|1|0,14.00,Tnpo1,3.06,1.0,3,Q8BFY9,TNPO1_MOUSE,0.98,5|5|4,14,0.98,1.0,ATG7_1
1,0.99,4.33,True,0.0,0|0|0,43.33,Atg10,4.12,1.0,3,Q8R1P4,ATG10_MOUSE,0.99,4|5|4,13,0.99,1.0,ATG7_1
2,1.00,8.33,True,0.0,1|0|0,25.00,Gabarapl1,11.71,1.0,3,Q8R3R8,GBRL1_MOUSE,1.00,7|7|11,25,1.00,1.0,ATG7_1
3,1.00,16.00,True,0.0,0|0|0,160.00,Atg3,18.30,1.0,3,Q9CPX6,ATG3_MOUSE,1.00,19|13|16,48,1.00,1.0,ATG7_1
4,0.99,4.67,True,0.0,0|0|0,46.67,Map1lc3b,4.12,1.0,3,Q9CQV6,MLP3B_MOUSE,0.99,5|4|5,14,0.99,1.0,ATG7_1

In [18]:
df_inter_mefs = pandas.DataFrame()

df_inter_mefs['Gene'] = df_inter_mefs_ori[['Gene']]

col_bait = df_inter_mefs_ori.iloc[:,17]
df_inter_mefs['Bait'] = col_bait

df_inter_mefs.rename(columns={df_inter_mefs.columns[0]: 'Prot1', 
                              df_inter_mefs.columns[1]: 'Prot2'},inplace=True)

df_inter_mefs['FoldChange'] = df_inter_mefs_ori[['FoldChange']]
df_inter_mefs['IsSTRING'] = "False"
df_inter_mefs.head()

       Prot1   Prot2  FoldChange IsSTRING
0      Tnpo1  ATG7_1       14.00    False
1      Atg10  ATG7_1       43.33    False
2  Gabarapl1  ATG7_1       25.00    False
3       Atg3  ATG7_1      160.00    False
4   Map1lc3b  ATG7_1       46.67    False

## STRING data

In [19]:
df_off = pandas.read_csv(path+ 'mefs_string_from_all_int_mouse.tsv', sep = "\t")
df_off.rename(columns={df_off.columns[0]: 'Prot1', df_off.columns[1]: 'Prot2'},inplace=True)
df_off = df_off[['Prot1', 'Prot2']]
df_off['IsSTRING'] = "True"
df_off.head()

    Prot1     Prot2 IsSTRING
0  Afg3l2    Yme1l1     True
1   Ahsa2    Dnaja4     True
2   Atg10   Gabarap     True
3   Atg10     Stx17     True
4   Atg10  Map1lc3a     True

In [20]:
df_final = pandas.concat([df_inter_mefs, df_off], axis=0)
df_final

        Prot1   Prot2  FoldChange IsSTRING
0       Tnpo1  ATG7_1       14.00    False
1       Atg10  ATG7_1       43.33    False
2   Gabarapl1  ATG7_1       25.00    False
3        Atg3  ATG7_1      160.00    False
4    Map1lc3b  ATG7_1       46.67    False
..        ...     ...         ...      ...
43     Map2k7    Raf1         NaN     True
44     Ptpn23   Vps4a         NaN     True
45     Ptpn23   Tubb3         NaN     True
46     Snap47   Stx17         NaN     True
47      Tubb3   Vps4a         NaN     True

[93 rows x 4 columns]

In [21]:
df_final.to_csv(path+'df_cytoscape_mefs.csv',sep = ",")